<h1>Editing questionnaire sommeil</h1>

<%= render "form", questionnaire_sommeil: @questionnaire_sommeil %>

<br>

<div>
  <%= link_to "Show this questionnaire sommeil", @questionnaire_sommeil %> |
  <%= link_to "Back to questionnaire sommeils", questionnaire_sommeils_path %>
</div>
